@media only screen and (max-width: 700px) {
  ul {
    flex-wrap: wrap;
    margin: 25px auto;
    width: 90%;
    justify-content: center;
  }

  a, button {
    font-size: 16px;
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 80vw;
    height: auto;
    margin-bottom: 20px;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    text-align: center;
    width: 90vw;
  }

  h1 {
    font-size: 60px;
    line-height: normal;
    width: auto;
  }

  span {
    font-size: 30px;
  }

  p {
    width: auto;
    font-size: 24px;
  }

  .explore-btn {
    display: block;
    margin: 0 auto;
  }

  h2 {
    font-size: 13px;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1200px) {
  ul {
    margin: 30px 0 40px 0;
    justify-content: center;
  }

  a, button {
    font-size: 18px;
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  img {
    margin-bottom: 40px;
  }

  .text-container {
    margin: 0;
  }

  .explore-btn {
    display: block;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1400px) {
  ul {
    margin: 44px 0 144px 76px;
  }

  a, button {
    font-size: 24px;
  }

  img {
    width: 568px;
    height: 500px;
  }

  h1 {
    width: auto;
    font-size: 100px;
  }

  span {
    font-size: 58px;
  }

  p {
    margin: 32px 0 65px 0;
    width: auto;
    font-size: 24px;
  }

  .explore-btn {
    width: 239px;
    height: 64px;
    font-size: 28px;
  }

  footer {
    margin-top: 70.9px;
    padding: 30px;
    background: #665ae1;
  }
}